[user]
	name = Zoltan Bodor
	email = zbodor@utilitywarehouse.co.uk
	signingkey = 540C6F975EEDE895
[github]
	user = Nesze
[push]
	default = simple
[core]
	editor = /usr/local/bin/vim
	excludesfile = /Users/zoltanbodor/.gitignore
[alias]
	co = checkout
	ci = commit
	st = status
	stu = status -uno
	ls = ls-files
	br = branch
	hist = log --pretty=format:'%h %ad [%an] | %s%d' --graph --date=short
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	cl = clean -f -d .
	rs = reset --hard HEAD
	type = cat-file -t
	dump = cat-file -p
	diffc = diff --cached
	pr = "!f() { git fetch origin pull/$1/head:pr-$1 && git checkout pr-$1; }; f"
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prom = false
[init]
	templatedir = ~/.git_template
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[credential]
	helper = store
[url "git@github.com:"]
	insteadOf = https://github.com/
[filter "strongbox"]
	clean = strongbox -clean %f
	smudge = strongbox -smudge %f
	required = true
[diff "strongbox"]
	textconv = strongbox -diff
